.section-title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px; /* Espaço abaixo do título */
    padding-bottom: 16px; /* Espaço entre o texto e a linha */
  }
  