  .question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .rectangle {
    width: 310px;
    padding: 10px;
    height: 126px;
    background-color:var(--light-pink);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    text-align: center;
  }
  
  .question {
    font-size: 12px;
    margin-bottom: 10px;
    width: 300px;
    line-height: 1.4;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .emoji-button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .label {
    font-size: 12px;
  }
  