.serviceInformation-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .back-button {
    background: none;
    border: none;
    color: purple;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .back-icon {
    font-size: 18px;
    margin-right: 8px;
  }
  
  .title {
    margin-top: 20px;
  }
  
  .main-title {
    font-size: 28px;
    font-weight: 900;
  }
  
  .title-row {
    display: flex;
    align-items: center;
    flex-direction: column; /* Organiza o conteúdo verticalmente */
}
  
  .logo {
    width: 50px;
    height: 24px;
    margin-left: 10px;
  }
  
  .subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .content {
    margin-top: 15px;
    padding-left: 15px;
    overflow: auto;
  }
  
  .procedure-list {
    list-style-type: none;
    padding: 0;
  }
  
  .procedure-list li {
    font-size: 16px;
    margin-bottom: 15px;
  }
  