@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Definindo um estilo específico para a classe do redsun */
.redsun {
  animation: rotate 10s linear infinite;
}

.App {
  text-align: center;
}

:root {
  --purple: rgba(133, 56, 255, 1);
  --light-purple: rgba(204, 191, 255, 1);
  --light-pink: rgba(255, 222, 255, 1);
  --dark-pink: rgb(215, 129, 215);
  --chock-pink: rgba(252, 98, 255, 1);
}